extends layout

block content
 br
 div
   div.mx-auto.card.shadow.bg-dark.border.rounded.border-primary.overflow-hidden(style="width: 50rem;")
      img.card-img-top(src='', alt='Todo list', style="")
      div.card-body
       a.card-title.text-light #{title}
       p.card-text.text-light batata frita