extends layout

block content
  br
  div.mx-auto.card.shadow.bg-light.border.rounded.border-primary.overflow-hidden(style="width: 50rem;")
    div.card-body
       a.card-title.text-dark #{title}
     form(action='' method='POST')
        div.form-group.p-3
          label(for='username') Username     
          input#username.form-control(class='focus:outline-none focus:shadow-outline', type='text', placeholder='Username', name='username')
          label(for='password') Password 
          input#password.form-control(class='focus:outline-none focus:shadow-outline', type='password', name='password', placeholder='******************') 
        div.form-group.p-3
          button.btn.btn-primary(class='sm:px-2 md:px2 lx:px-4 hover:bg-blue-dark focus:outline-none focus:shadow-outline', type='submit') Sign In
          a.float-right(class='hover:text-blue-darker', href='#') Forgot Password?
        div.mx-auto(style="width: 100px;")
          a.btn.btn-success(class='hover:text-green-darker', href='/default/user/create') Register
        if errors 
          ul
            for error in errors
              li.text-red!= error.msg